/* color palette: 
darkest navy #020659 | plum #590242 | royal blue #2104D9
navy #020873 | dk blue #030A8C | lt blue #2699FB | azure #0D8DFB 
*/

/* css TOC: 
    GLOBAL -- line 18
    NAV -- line 
    HEADER -- line
    TRENDING -- line 
    USER PLAYLISTS -- line
    CURATED -- line
    FOOTER -- line 
    CLASSES -- line 
    IDS -- line 
    MEDIA QUERIES -- line
*/

/* ----- GLOBAL ----- */
    html {
        background-color: #020659;
        color: #ffffff;
        font-family: Raleway, Optima, sans-serif;
        text-align: center;
    }

    body {
        width: 375px;
        margin: 0 auto;
    }

    h1, h2, h3 {
        text-transform: uppercase;
    }

    h1, h2 {
        font-size: 20pt;
        font-weight: bold;
    }

    h2 {
        color: #590242;
        text-align: left;
    }

    h3 {
        font-size: 16pt;
        font-weight: bold;
    }

    p {
        font-size: 14pt;
    }

    dt {
        text-transform: uppercase;
        font-size: 16pt;
        font-weight: lighter;
        color: #590242;
    }

    dd {
        font-size: 16pt;
        color: #590242;
        margin-left: 0;
    }

    a {
        text-decoration: none;
        color: #ffffff;
    }


/* ----- HEADER ----- */
    header {
        text-align: left;
    }

    header h2 {
        color: #ffffff;
    }   

    header p {
            font-size: 20pt;
    }

/* ----- NAV ----- */
    nav {
        width: 375px;
        background-color: #030A8C;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    nav a {
        display: block;
        padding: 20px;
    }

    nav h2 {
        visibility: hidden;
        height: 1px;
    }

    nav ul {
        list-style-type: none;
        overflow: hidden;
        background-color: #2104D9;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    [href="#home"] {
        text-transform: capitalize;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        top: 0;
        left: 90px;
        padding: 16px 16px;
    }

    nav a:hover, input:hover {
        background-color: #590242;
    }

    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }

    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }

    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    label span:before {
        top: 5px;
    }

    label span:after {
        top: -5px;
    }

    input {
        display: none;
    }

    input:checked ~ ul {
        max-height: 500px;
    }

    input:checked ~ label span {
        background: transparent;
    }

    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }

    input:checked ~ label span:after {
        transform: rotate(45deg);
    }

    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }

/* ----- TRENDING ----- */
    #trending {
        background-color: #ffffff;
    }

    #trending h3, #trending p {
        color: #590242;
    }

    audio::-webkit-media-controls-mute-button {
        background-color: #ffffff;
        border-radius: 50%;
    }

    audio::-webkit-media-controls-play-button {
        background-color: #ffffff;
        border-radius: 50%;
    }

    audio::-webkit-media-controls-enclosure {
        background-color: rgba(255, 255, 255, alpha.5);
    }
    
/* ----- USER PLAYLISTS ----- */


/* ----- CURATED ----- */


/* ----- FOOTER ----- */
    footer {
        background-color: #ffffff;
        color: #590242;
        font-weight: bold;
        font-size: 10pt;
    }

/* ----- CLASSES ----- */
    .more {
        font-size: 14pt;
        font-weight: bold;
        background-color: #590242;
        padding: 10px 30px;
        border-radius: 5px;
    }

/* ----- IDS ----- */


/* ----- MEDIA QUERIES ----- */

    @media screen and (min-width: 834px) {
        body {
            width: 834px;
        }

        ul {
            overflow: visible;
            position: absolute;
            top: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        }

        label span, input {
            display: none;
        }
    }